body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 100px;
    margin: 0 auto;
    color: black;
    background-color: bisque;
}

input[type=text],
input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.btn {
    background-color: blue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 150px;
    color: black
}

.row:after {
    content: "";
    display: table;
    clear: both;
}