body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    background-color: bisque;
    max-width: 650px;
}

.book {
    margin: 0 auto;
}


/* a {
    padding: 12px;
    color: darkblue;
    text-decoration: none !important;
    outline: none !important;
} */

input[type=text],
input[type=email],
input[type=number],
input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 20px;
    background: white;
}

.btn {
    background-color: blue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}