body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 120px;
}

#card {
    width: 25rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.content {
    background-color: gray;
    max-width: 600px;
    margin: 0 auto;
}

.data {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 15px;
    background: blue;
    color: white;
    max-width: 200px;
    text-align: center;
}

.ip-field {
    width: 100%;
    padding: 15px;
    outline: none;
    align-self: center;
}

.btn {
    padding-left: 20px;
    margin: 0 auto;
    align-self: center;
    background: darkblue;
    padding: 15px;
    margin-bottom: 15px;
}

.link {
    width: 75%;
    margin-bottom: 20px;
}

.fb {
    float: left;
    padding: 5px;
    /*display: inline-block;  */
    background-color: #55ACEE;
    color: white;
}

.google {
    float: right;
    padding: 5px;
    /*display: inline-block;  */
    background-color: #DD4B39;
    color: white;
}