.content {
    max-width: 600px;
    margin: auto;
}

.data {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: blueviolet;
    color: white;
    min-width: 50px;
    text-align: center;
}

.ip-field {
    width: 50%;
    padding: 10px;
    outline: none;
    align-self: center;
}

.btn {
    width: 64%;
    background: blueviolet;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
}

.link {
    display: inline-block;
    width: 40%;
    margin-bottom: 20px;
}

.fb {
    padding: 5px;
    display: inline-block;
    background-color: #55ACEE;
    color: white;
}

.google {
    padding: 5px;
    display: inline-block;
    background-color: #DD4B39;
    color: white;
}